Options -Indexes
ServerSignature Off

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^config/ - [F,L,NC]
RewriteRule ^includes/ - [F,L,NC]
RewriteRule ^migrations/ - [F,L,NC]
RewriteRule ^sql/ - [F,L,NC]
RewriteRule ^storage/ - [F,L,NC]
RewriteRule ^cron/ - [F,L,NC]
RewriteRule ^setup/ - [F,L,NC]
RewriteRule ^docs/ - [F,L,NC]
RewriteRule ^templates/ - [F,L,NC]

RewriteRule (^|/)\. - [F,L]
RewriteRule ^run_migration\.php$ - [F,L,NC]
</IfModule>

